@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
:root {
  --header-background: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
  /* height: 100vh;
  margin: 0; */
  background-image: "images/background";
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* background-repeat: no-repeat; */
}
h1{
    margin-bottom: 2rem;
    /* color: #c2c2c2; */
    color: #00964c;
}
h2{
    font-size: 4rem;
    font-weight: 600;
    color: #05d970;
    margin-top: 3rem;
    background-image: linear-gradient(to right, #606060, #05d970);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 575.98px) {
  h2{
    color: #6d6d6d;
    margin-top: 2rem;
    font-size: 3rem;
  }
}
p{
    color: #6d6d6d;
}

/* .content {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh; */
  /* background-image: url(https://images.unsplash.com/photo-1519178004195-aa89fab07682?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=a990e5628e9a9603f1645ee8368c239e); */
  /* background-blend-mode: multiply; */
  /* background-repeat: no-repeat; */
  /* background-size: cover;
  display: grid;
  place-items: center;
  color: rgba(245, 245, 255, 0.85);
  text-align: center;
}
.content a {
  color:  #c2c2c2;
  text-decoration: none;
}
.content a:hover {
  color: #05d970;
  cursor: pointer;
} */

/* Nav Styles */
header {
  background: var(--header-background);
  text-align: center;
  /* position: fixed; */
  position: relative;
  width: 80%;
  height: 4.5rem;
  margin: 4rem auto;
  padding: 0.5rem;
  border-radius: 30px;
  z-index: 999;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  -webkit-box-shadow: 0px 1px 30px 4px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 1px 30px 4px rgba(0, 0, 0, 0.09);
    
}
@media (max-width: 575.98px){
  header{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
}
.sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 0;
    margin: 0 auto;
    border-radius: 0;
    background: #fff;
    z-index: 1111;
  }
  @media (max-width: 992px){
    .sticky{
      width: 92.5%;
    }
  }
  .sticky + .content {
    padding-top: 102px;
  }

.logo {
  color: rgba(255, 255, 255, 0.8);
  left: 24px;
  top: 7px;
  position: absolute;
  width: 156.4px;
  height: 56.4px;
}
.navbar{
  /* padding: 0rem 0rem 0px 9rem; */
}
  @media (max-width: 575.98px){
  .navbar{
  /* position: absolute;
  right: 1.5rem;
  top: 1rem; */
}
  .navbar-light .navbar-toggler{
    /* position: absolute;
    right: 0;
    top: 0; */
  }
  .navbar-collapse{
    background: #fff;
    /* padding: 60px 60px 5px 0px; */
  }
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--header-background);
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #8b8b8b;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: #05d970;
  text-decoration: none;
}

/* .nav-toggle {
  display: none;
} */

/* .nav-toggle-label {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label:hover {
  cursor: pointer;
} */
/* 
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  width: 1.85em;
  height: 2px;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
} 


  header {
    /* display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr; */
  

  .logo {
    /* grid-column: 2 / span 1; */
  }

  nav {
    all: unset;
    /* grid-column: 3 / 4; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  @media (max-width: 575.98px){
    nav li{
      margin-left: 0;
      margin-bottom: .8rem;
    }
  }


  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: #05d970;
    position: absolute;
    border-radius: 25%;
    top: -.7em;
    left: 0;
    right: 0;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  }

  nav a:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .navbar-light .navbar-toggler{
    float: right;
    margin-left: auto;
  }


.banner-section{
    padding-top: 0rem;
    padding-bottom: 6rem;
}
.banner-wrapper{
    position: relative;
}

.btn-wrap{
  position: absolute;
  bottom: -90px;
  right: 31rem;
}

.left-arrow{
    background: none;
    border: none;
}
.left-arrow:focus{
  outline: none;
}
.right-arrow{
    background: none;
    border: none;
}
.right-arrow:focus{
  outline: none;
}
.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    height: 40px;
    border-radius: 13px;
    padding: 0px;
}


.slicker-section{
    padding-top: 8rem;
    padding-bottom: 3rem;
}
a.slick-box {
    position: relative;
    padding: 1rem 0;
    border-radius: 1rem;
    border: 1px solid #05d970;
    display: block;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    height: auto;
    background: #fff;
    text-decoration: none;
    margin-bottom: 3rem;
    min-height: 10rem;
}
a.slick-box:hover{
    background-color: #05d970;
    border: 1px solid #fff
}
a.slick-box:hover .slick-title-1{
    text-decoration: none;
    color:#fff;
}
.slick-icon-box {
    /* text-align: center; */
    position: absolute;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #05d970;
    width: auto;
    height: auto;
    top: -15px;
    top: -25px;
    padding: 2rem;
    left: 75px;    
}
@media (max-width: 575.98px)
{.slick-icon-box{
   left: 37.5%;
}
a.slick-box{
   padding: 1.8rem 5rem;
}
}
.slick-title-wrapper {
    margin-top: 4rem;
}
.slick-title-1 {
    font-size: 1.6rem;
    font-weight: 400;
    color: #05d970;
    text-decoration: none;
}
@media (max-width: 992px){
  .slick-title-1{
    font-size: 1.3rem;
  }
}

.service-section{
    padding-top: 5rem;
    padding-bottom: 3rem;
 
}
/* a.service-box {
    padding-top: 1rem;
    -webkit-box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
    box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
    border-radius: 1rem;
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    height: auto;
    background: #fff;
    text-decoration: none;
    margin-bottom: 5rem;
} */


.icon-box {
    text-align: center;
    position: relative;
    background: #fff;
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding-top: 1rem;
}

/* .service-svg-icon {
    position: relative;
}

.icon-box img.main-icon {
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}

.service-box img {
    display: inline-block;
    background: #fffcfc;
    -webkit-box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
    box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
    padding: 2rem;
    border-radius: 20%;
}
.service-box img:hover {
    background: #05d970;
    -webkit-box-shadow: 0 14px 30px 0 rgba(50, 231, 111, 0.06);
    box-shadow: 0 14px 30px 0 rgba(50, 231, 111, 0.06);
} */

.service-box .title-wrapper {
    margin-top: 2.5rem;
}

.small-title-1 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #c2c2c2;
    text-decoration: none;
    /* text-transform: uppercase; */
}
.small-title-1:hover{
    text-decoration: none;
    color: #05d970;
}


.service-box .content-wrapper {
    margin-top: 2.2rem;
}

.body-font-5 {
    color: #5a5a5a;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    text-align: justify;
}

.service-icon1{
    background: url("images/android1.png") no-repeat;
    display: inline-block;
    background-position: 50% 50%;
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
    box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
    padding: 2rem;
    border-radius: 20%;
}

#service:hover #sicon1 { 
  background: url("images/android.png") no-repeat;
  background-color: #05d970;
  background-position: 50% 50%;
  -webkit-box-shadow: 0 14px 30px 0 rgba(15, 219, 83, 0.479);
  box-shadow: 0 14px 30px 0 rgba(11, 223, 81, 0.712);
}

.service-icon2{
  background: url("images/java.png") no-repeat;
  display: inline-block;
  background-position: 50% 50%;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
  box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
  padding: 2rem;
  border-radius: 20%;
}
#service:hover #sicon2 {
background: url("images/java2.png") no-repeat;
background-color: #05d970;
background-position: 50% 50%;
-webkit-box-shadow: 0 14px 30px 0 rgba(15, 219, 83, 0.479);
box-shadow: 0 14px 30px 0 rgba(11, 223, 81, 0.712);
}

.service-icon3{
  background: url("images/asp1.png") no-repeat;
  display: inline-block;
  background-position: 50% 50%;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
  box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
  padding: 2rem;
  border-radius: 20%;
}
#service:hover #sicon3 {
background: url("images/asp2.png") no-repeat;
background-color: #05d970;
background-position: 50% 50%;
-webkit-box-shadow: 0 14px 30px 0 rgba(15, 219, 83, 0.479);
box-shadow: 0 14px 30px 0 rgba(11, 223, 81, 0.712);
}

.service-icon4{
  background: url("images/python1.png") no-repeat;
  display: inline-block;
  background-position: 50% 50%;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
  box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
  padding: 2rem;
  border-radius: 20%;
}
#service:hover #sicon4 {
background: url("images/python2.png") no-repeat;
background-color: #05d970;
background-position: 50% 50%;
-webkit-box-shadow: 0 14px 30px 0 rgba(15, 219, 83, 0.479);
box-shadow: 0 14px 30px 0 rgba(11, 223, 81, 0.712);
}

.service-icon5{
  background: url("images/php1.png") no-repeat;
  display: inline-block;
  background-position: 50% 50%;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
  box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
  padding: 2rem;
  border-radius: 20%;
}
#service:hover #sicon5 {
background: url("images/php2.png") no-repeat;
background-color: #05d970;
background-position: 50% 50%;
-webkit-box-shadow: 0 14px 30px 0 rgba(15, 219, 83, 0.479);
box-shadow: 0 14px 30px 0 rgba(11, 223, 81, 0.712);
}

.service-icon6{
  background: url("images/software1.png") no-repeat;
  display: inline-block;
  background-position: 50% 50%;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
  box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
  padding: 2rem;
  border-radius: 20%;
}
#service:hover #sicon6 {
background: url("images/software2.png") no-repeat;
background-color: #05d970;
background-position: 50% 50%;
-webkit-box-shadow: 0 14px 30px 0 rgba(15, 219, 83, 0.479);
box-shadow: 0 14px 30px 0 rgba(11, 223, 81, 0.712);
}

.service-icon7{
  background: url("images/kotlin.png") no-repeat;
  display: inline-block;
  background-position: 50% 50%;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
  box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
  padding: 2rem;
  border-radius: 20%;
}
#service:hover #sicon7 {
background: url("images/kotlin2.png") no-repeat;
background-color: #05d970;
background-position: 50% 50%;
-webkit-box-shadow: 0 14px 30px 0 rgba(15, 219, 83, 0.479);
box-shadow: 0 14px 30px 0 rgba(11, 223, 81, 0.712);
}

.service-icon8{
  background: url("images/uxui1.png") no-repeat;
  display: inline-block;
  background-position: 50% 50%;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
  box-shadow: 0 14px 30px 0 rgba(0,0,0,.06);
  padding: 2rem;
  border-radius: 20%;
}
#service:hover #sicon8 {
background: url("images/uxui2.png") no-repeat;
background-color: #05d970;
background-position: 50% 50%;
-webkit-box-shadow: 0 14px 30px 0 rgba(15, 219, 83, 0.479);
box-shadow: 0 14px 30px 0 rgba(11, 223, 81, 0.712);
}

#service:hover #stitle{
  text-decoration: none;
  color: #05d970;
}

.about-section{
    padding: 1rem;
}
#more {display: none;}

.read-more-btn{
    background: #05d970;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    outline: none;
    margin-top: 1rem;
}
.read-more-btn:focus{
    outline: none;
}

#footer-container{
    background-color: #05d970;
}

.contact-wrapper{
    padding: 5rem 0 0;
    position: relative;
}

.service-box {
    padding-top: 1rem;
    -webkit-box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    height: auto;
    background: #fff;
    text-decoration: none;
    margin-bottom: 5rem;
    transition: all 1s ease;
    min-height: 17rem;
}

.lapwrapper{
    transition: all 1s ease;
}
.lapwrapper:hover{
    /* transform: scale(1.5) */
}

.footerhead {
  background: var(--header-background);
  text-align: center;
  position: absolute;
  width: 80%;
  top: -2rem;
  left: 6rem;
  /* padding: 0 5rem 0rem; */
  border-radius: 30px;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0px 1px 59px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 59px 2px rgba(0, 0, 0, 0.15);
}

.social-nav {
  display: flex;
  justify-content: flex-end;
}
.social-nav ul {
  list-style-type: none;
  margin-bottom: 0;
}
.social-nav ul li {
  padding: 0 1.5rem;
  display: inline;
}
@media (max-width: 992px){
  .social-nav{
      justify-content: center;
  }
  .social-nav ul{
    padding: 0;
  }
  .social-nav ul li{
    padding: 0 .5rem;
  }
}

input{
  width: 60%;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  color: #606060;
  margin-bottom: 18px;
}

input:focus{
 outline: none;
}
input::placeholder{
  color: #bbb6b6;
}
textarea.form-control{
  width: 60%;
  color: #606060;
}

textarea.form-control::placeholder{
  color: #bbb6b6;
}

.footer-link{
  color: #fff;
  border-right: 1px solid #fff;
  height: 100%;
  position: relative;
}
.footer-link p{
  color: #fff;
}
.footer-link a{
  color: #fff;
  text-decoration: none;
}
.footer-link a:hover{
  color: rgb(209, 207, 207);
  text-decoration: none;
}
.footer-link-last {
  color: #fff;
  height: 100%;
  position: relative;
}
.copyright{
  color: #fff;
  padding: 2rem;
}

.item{
  padding: 1rem;
}

.mouse {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  width: 25px;
  height: 37px;
  border: 1.5px solid #05d970;
  color: #05d970;
  display: block;
  border-radius: 20px;
  margin-left: 94%;
  cursor: pointer;
}
@media (max-width: 575.98px) {
  .mouse {
    display: none;
  }
  
}

.mouse i {
  position: absolute;
  width: 3px;
  height: 5px;
  background-color: #05d970;;
  top: 5px;
  border-radius: 4px;
  left: 50%;
  opacity: 0.7;
  margin-left: -2px;
  -webkit-animation: scroller 1.8s infinite 0s linear;
  animation: scroller 1.8s infinite 0s linear;
}


.socialtab{
  color: #87948d;
  position: absolute;
  left: 2rem;
  font-size: 1.5rem;
  letter-spacing: 5px;
}
@media screen and (max-width: 992px){
.socialtab{
  display: none;
}
}
.sendbtn{
  position: absolute;
  right: 0.5rem;
  top: 35%;
}


@media screen and (max-width: 520px){
  .footer-link{
    border: none;
  }
  .footerhead{
    /* display: none; */
    width: 100%;
    left: 0;
  }
 
  .contact-wrapper{
    padding-top: 4rem;
  }
  .service-section{
    padding-top: 2rem;
    padding-bottom: 0;
  }
  .service-box{
    margin-bottom: 3rem;
  }
  .sendbtn{
    right: 1.5rem;
  }
  .slicker-section{
    padding-top: 3rem;
    padding-bottom: 0;
  }
  .banner-section{
    padding-top: 0;
    padding-bottom: 3rem;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px){
  .slick-icon-box{
    padding: 1.5rem;
    left: 30px;
  }
  .small-title-1{
    font-size: 1.2rem;
  }
  .service-box {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 767.98px){
.carousel-indicators{
  bottom: -4.5rem;
  justify-content: left;
  margin-left: 1rem;
  margin-right: 1rem;
}
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 100%;
    background-color: #05d970;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

